@media screen and (min-width: 0) and (max-width: 768px) {
    html {
        min-height: 100vh;
        background-image: linear-gradient(to bottom, #FFFFFF, rgb(173, 255, 173));
    }
    
    #layout {
        grid-template-columns: 1fr;
        min-height: 100vh;
        place-content: center;
        background-color: transparent;
        border: none;
        max-width: 430px;
    }

    #loginForm, #capaForm {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #capaForm > div {
        z-index: 1;
    }

    #capaForm > span {
        z-index: 2;
    }

    #loginForm {
        transition: .7s all ease;
        z-index: 3;
        backface-visibility: hidden;
    }

    #loginForm fieldset {
        width: 100%;
    }

    .formButtonContainer {
        flex-direction: column;
        gap: 1rem;
    }

    .formInput {
        padding: 1rem;
    }

    .formButton {
        width: 100%;
        padding: 1rem 0;
    }
}