html {
    background-image: linear-gradient(to right, #FFFFFF, rgb(173, 255, 173));
}

#layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 2rem auto 0 auto;
    width: 100%;
    max-width: 1200px;
    border: 1px solid gray;
    background-color: #FFFFFF;
}

#loginForm {
    padding: 3rem 2rem 8rem 2rem;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    background-color: #FFFFFF;
}

.loginFormMobileLoading {
    z-index: 1 !important;
    transform: rotateY(180deg);
}

#loginForm > h2 {
    margin-bottom: 3rem;
}

#loginForm > h5 {
    position: absolute;
    bottom: 10px;
}

#loginForm fieldset {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.inputContainer p {
    color: #FF0000;
    display: none;
}

.inputContainerErrorMessage {
    display: block !important;
}

#loginForm label {
    position: absolute;
    top: -10px;
    background-color: #FFFFFF;
    left: 10px;
    padding: 0 .5rem;
}

.formInput {
    font-size: 1.1rem;
    padding: .5rem;
}

.formButtonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.formButton {
    border: 1px solid black;
    width: 120px;
    padding: .7rem 0;
    font-size: .9rem;
    font-weight: bold;
    transition: .3s all ease;
}

.formButton:is(:hover, :active, :focus) {
    color: #FFFFFF;
    background-color: rgb(45, 179, 45);
    border-color: rgb(45, 179, 45);
}

#capaForm {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 100%;
    position: relative;
    background-image: linear-gradient(to right, rgb(198, 255, 198) 10%, rgb(181, 255, 181) 90%);
}

#capaForm > div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/background-capa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .7s all ease;
    transform-origin: left center;
    z-index: 2;
}

#capaForm > span {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,.3);
    display: grid;
    place-content: center;
}

#capaForm > span::after {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    content: "";
    border: 4px solid #FFFFFF;
    border-bottom: 4px dashed rgb(173, 255, 173);
    animation: spinner .8s infinite linear;
    box-shadow: 0px 0px 3px 2px rgba(73, 158, 207, 0.74);
}

.capaFormLoading {
    transform: rotateY(-180deg);
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}